.login{
    margin: auto;
    width: 20%;
    padding: 10px;
    margin-top: 180px;
}
.poppins-semibold,h6,p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }